<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 mt-5 border border-1 p-4">
          <form class="needs-validation" action="/result" method="POST">
            <div>
              <label for="nombre" class="form-label">Nombre:</label>
              <input class="form-control" type="text" id="name" name="name" placeholder="Ingrese su nombre" required>
            </div>
            <div> 
              <label for="validationCustom04" class="form-label">Ubicacion del Dojo:</label>
              <select class="form-select" name="ubicacion" id="validationCustom04" required>
                <option selected disabled value="">selecciona la ubicacion</option>
                <option value="Chile">Chile</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="China">China</option>
                <option value="Mali">Mali</option>
                <option value="Reino Unido">Reino Unido</option>
              </select>
            </div>
            <div>
              <label class="form-label">Lenguaje Favorito:</label>
              <select class="form-select" name="lenguaje" id="validationCustom04" required>
                <option selected disabled value="">selecciona tu lenguaje</option>
                <option value="JavasCript">JavaScript</option>
                <option value="c#">c#</option>
                <option value="c++">c++</option>
                <option value="python">python</option>
                <option value="java">java(basura)</option>
              </select>
            </div>
            <div>
              <label class="form-label">comentario (opcional):</label></br>
              <textarea class="form-control input-group-text" name="comentario" cols="30" rows="7"></textarea>
            </div>
            <a href="result"><button class="btn btn-primary mt-3" type="submit">enviar</button></a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>